{{- if .ExtraSecretEnv }}
alloy:
  alloy:
    extraSecretEnv:
    {{- range $key, $value := .ExtraSecretEnv }}
    - name: "{{ $key }}"
      value: "{{ $value }}"
    {{- end }}
{{- if .ExtraObjects }}
  extraObjects:
{{ .ExtraObjects | indent 2 }}
{{- end }}
{{- end }}
