{{- if .ExtraSecretEnv }}
alloy:
  alloy:
    extraSecretEnv:
    {{- range $key, $value := .ExtraSecretEnv }}
    - name: {{ $key | quote }}
      value: {{ $value | quote }}
    {{- end }}
{{- if .ExtraObjects }}
  extraObjects:
{{ .ExtraObjects | indent 2 }}
{{- end }}
{{- end }}
