grafana:
  grafana.ini:
    auth:
      disable_signout_menu: false
    auth.generic_oauth:
      role_attribute_path: to_string('Viewer')
      org_attribute_path: groups
      org_mapping: '{{ .OrgMapping }}'
