---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-dashboard-configmap
  failurePolicy: Fail
  name: dashboardconfigmap.observability.giantswarm.io
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - configmaps
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-alertmanager-config
  failurePolicy: Fail
  name: vsecret-v1.kb.io
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - secrets
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-v1alpha1-grafana-organization
  failurePolicy: Fail
  name: grafanaorganizationv1alpha1.observability.giantswarm.io
  rules:
  - apiGroups:
    - observability.giantswarm.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - grafanaorganizations
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-v1alpha2-grafana-organization
  failurePolicy: Fail
  name: grafanaorganizationv1alpha2.observability.giantswarm.io
  rules:
  - apiGroups:
    - observability.giantswarm.io
    apiVersions:
    - v1alpha2
    operations:
    - CREATE
    - UPDATE
    resources:
    - grafanaorganizations
  sideEffects: None
