version: 2.1

orbs:
  architect: giantswarm/architect@6.12.0

jobs:
  go-tests:
    executor: architect/architect
    resource_class: large
    steps:
    - checkout
    - run:
        name: Run unit and integration tests
        command: CGO_ENABLED=0 make test
  template-chart:
    docker:
    - image: giantswarm/helm-chart-testing:v3.14.0
    steps:
    - checkout
    - run: cd helm/observability-operator && helm dep up
    - run: helm template helm/observability-operator
  validate-alertmanager-config:
    executor: architect/architect
    steps:
    - checkout
    - run:
        name: Validate Alertmanager Config
        command: make validate-alertmanager-config
workflows:
  build:
    jobs:
    # This job is used to build the Helm chart and make sure it is valid.
    - template-chart:
        name: template-chart
        filters:
          tags:
            only: /^v.*/

    # This job is used to validate the Alertmanager config.
    # It requires the template-chart job to be run first because it needs 
    # the chart to be a valid Helm chart to generate the Alertmanager config to validate.
    - validate-alertmanager-config:
        name: validate-alertmanager-config
        requires:
        - template-chart
        filters:
          tags:
            only: /^v.*/

    # This job is used to run go unit and integration tests.
    - go-tests:
        filters:
          tags:
            only: /^v.*/

    - architect/go-build:
        name: go-build
        requires:
        - go-tests
        - validate-alertmanager-config
        path: ./cmd
        binary: observability-operator
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        requires:
        - go-build
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-to-app-catalog
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: observability-operator
        persist_chart_archive: true
        requires:
        - push-to-registries
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master

    - architect/run-tests-with-ats:
        name: run-chart-tests-with-ats
        filters:
            # Do not trigger the job on merge to main.
          branches:
            ignore:
            - main
        requires:
        - push-to-app-catalog

    - architect/push-to-app-collection:
        context: architect
        name: capa-app-collection
        app_name: observability-operator
        app_namespace: monitoring
        app_collection_repo: capa-app-collection
        requires:
        - push-to-app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/

    - architect/push-to-app-collection:
        context: architect
        name: capz-app-collection
        app_name: observability-operator
        app_namespace: monitoring
        app_collection_repo: capz-app-collection
        requires:
        - push-to-app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/

    - architect/push-to-app-collection:
        context: architect
        name: cloud-director-app-collection
        app_name: observability-operator
        app_namespace: monitoring
        app_collection_repo: cloud-director-app-collection
        requires:
        - push-to-app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/

    - architect/push-to-app-collection:
        context: architect
        name: vsphere-app-collection
        app_name: observability-operator
        app_namespace: monitoring
        app_collection_repo: vsphere-app-collection
        requires:
        - push-to-app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/

    - architect/push-to-app-collection:
        context: architect
        name: proxmox-app-collection
        app_name: observability-operator
        app_namespace: monitoring
        app_collection_repo: proxmox-app-collection
        requires:
        - push-to-app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/
