apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: {{ include "resource.default.name" . }}
  namespace: {{ include "resource.default.namespace" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "labels.selector" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        releaseRevision: {{ .Release.Revision | quote }}
      labels:
        {{- include "labels.common" . | nindent 8 }}
    spec:
      containers:
      - name: {{ include "name" . }}
        image: "{{ .Values.image.registry }}/{{ .Values.image.name }}:{{ default .Chart.Version .Values.image.tag }}"
        args:
        - --leader-elect
        - --management-cluster-base-domain={{ $.Values.managementCluster.baseDomain }}
        - --management-cluster-customer={{ $.Values.managementCluster.customer }}
        - --management-cluster-insecure-ca={{ $.Values.managementCluster.insecureCA }}
        - --management-cluster-name={{ $.Values.managementCluster.name }}
        - --management-cluster-pipeline={{ $.Values.managementCluster.pipeline }}
        - --management-cluster-region={{ $.Values.managementCluster.region }}
        - --operator-namespace={{ include "resource.default.namespace" . }}
        {{- if .Values.webhook.enabled }}
        - --webhook-cert-path=/tmp/k8s-webhook-server/serving-certs
        {{- end }}
        # Alerting configuration
        - --alertmanager-enabled={{ $.Values.alerting.enabled }}
        - --alertmanager-secret-name={{ include "alertmanager-secret.name" . }}
        - --alertmanager-url={{ $.Values.alerting.alertmanagerURL }}
        # Monitoring configuration
        {{ with .Values.monitoring }}
        - --monitoring-enabled={{ .enabled }}
        - --monitoring-sharding-scale-up-series-count={{ .sharding.scaleUpSeriesCount }}
        - --monitoring-sharding-scale-down-percentage={{ .sharding.scaleDownPercentage }}
        - --monitoring-wal-truncate-frequency={{ .wal.truncateFrequency }}
        {{- with .queueConfig }}
        {{- if .batchSendDeadline }}
        - --monitoring-queue-config-batch-send-deadline={{ .batchSendDeadline }}
        {{- end }}
        {{- if .capacity }}
        - --monitoring-queue-config-capacity={{ .capacity }}
        {{- end }}
        {{- if .maxBackoff }}
        - --monitoring-queue-config-max-backoff={{ .maxBackoff }}
        {{- end }}
        {{- if .maxSamplesPerSend }}
        - --monitoring-queue-config-max-samples-per-send={{ .maxSamplesPerSend }}
        {{- end }}
        {{- if .maxShards }}
        - --monitoring-queue-config-max-shards={{ .maxShards }}
        {{- end }}
        {{- if .minBackoff }}
        - --monitoring-queue-config-min-backoff={{ .minBackoff }}
        {{- end }}
        {{- if .minShards }}
        - --monitoring-queue-config-min-shards={{ .minShards }}
        {{- end }}
        {{- if .retryOnHttp429 }}
        - --monitoring-queue-config-retry-on-http-429={{ .retryOnHttp429 }}
        {{- end }}
        {{- if .sampleAgeLimit }}
        - --monitoring-queue-config-sample-age-limit={{ .sampleAgeLimit }}
        {{- end }}
        {{- end }}
        {{- end }}
        - --tracing-enabled={{ $.Values.tracing.enabled }}
        # Logging configuration
        {{ with .Values.logging }}
        - --logging-enabled={{ .enabled }}
        {{- if .enableNodeFiltering }}
        - --logging-enable-node-filtering=true
        {{- end }}
        {{- if .enableNetworkMonitoring }}
        - --logging-enable-network-monitoring=true
        {{- end }}
        {{- if .defaultNamespaces }}
        - --logging-default-namespaces={{ .defaultNamespaces | join "," }}
        {{- end }}
        {{- if .includeEventsFromNamespaces }}
        - --logging-include-events-from-namespaces={{ .includeEventsFromNamespaces | join "," }}
        {{- end }}
        {{- if .excludeEventsFromNamespaces }}
        - --logging-exclude-events-from-namespaces={{ .excludeEventsFromNamespaces | join "," }}
        {{- end }}
        {{- end }}
        env:
        - name: ENABLE_WEBHOOKS
          value: {{ .Values.webhook.enabled | quote }}
        {{- if and .Values.alerting.cronitorHeartbeatManagementKey .Values.alerting.cronitorHeartbeatPingKey }}
        - name: CRONITOR_HEARTBEAT_MANAGEMENT_KEY
          valueFrom:
            secretKeyRef:
              name: {{ include "resource.default.name" . }}-credentials
              key: cronitorHeartbeatManagementKey
        - name: CRONITOR_HEARTBEAT_PING_KEY
          valueFrom:
            secretKeyRef:
              name: {{ include "resource.default.name" . }}-credentials
              key: cronitorHeartbeatPingKey
        {{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-healthz
          initialDelaySeconds: 30
          timeoutSeconds: 1
        securityContext:
          {{- with .Values.operator.containerSecurityContext }}
            {{- . | toYaml | nindent 10 }}
          {{- end }}
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        - containerPort: 8081
          name: http-healthz
          protocol: TCP
        {{- if .Values.webhook.enabled }}
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: webhook-certs
          readOnly: true
        {{- end }}
        resources: {{ toYaml .Values.operator.resources | nindent 10 }}
      serviceAccountName: {{ include "resource.default.name" . }}
      securityContext:
        {{- with .Values.operator.podSecurityContext }}
          {{- . | toYaml | nindent 8 }}
        {{- end }}
      {{- if .Values.webhook.enabled }}
      volumes:
      - name: webhook-certs
        secret:
          secretName: {{ include "resource.default.name" . }}-webhook-server-cert
      {{- end }}
