apiVersion: v1
kind: Secret
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: {{ include "resource.default.name" . }}-credentials
  namespace: {{ include "resource.default.namespace" . }}
data:
  {{- if and .Values.alerting.cronitorHeartbeatManagementKey .Values.alerting.cronitorHeartbeatPingKey }}
  cronitorHeartbeatManagementKey: {{ .Values.alerting.cronitorHeartbeatManagementKey | b64enc | quote }}
  cronitorHeartbeatPingKey: {{ .Values.alerting.cronitorHeartbeatPingKey | b64enc | quote }}
  {{- end }}
type: Opaque
