name: Alertmanager checks

on: pull_request

jobs:
  validate-alertmanager:
    name: Check Alertmanager Version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run alertmanager version sync check
        run: ./hack/bin/check-alertmanager-version.sh
  test-alertmanager-routes:
    name: Test Alertmanager routes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: make tests-alertmanager-routes
  test-alertmanager-integrations:
    name: Test Alertmanager routes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: make tests-alertmanager-integrations
